.postgameBoard {
  width: 100%;
  position:relative;
  text-align:center;

  h2 {
	font-size:3em;
  }

  .player {
	display:inline-block;
	transform:scale(0.7);
	opacity: 0.7;

	&.winner {
	  transform:scale(1.4);
	}
  }

  .resetButton {
	margin:2em auto;
	font-size:2em;
  }
}
