.ingameBoard {
  width: 100%;
  position:relative;
  text-align:center;

  h2 {
	font-size:2em;
  }

  .playerBoard {

	&.humanPlayer .selectableHand:hover {
	  border: 2px #666 dashed;
	  cursor: pointer;
	}

	.selectableHand {
	  display: inline-block;
	  position: relative;
	  border: 2px dashed transparent;
	  will-change: border, transform;
	  transition: border 500ms, transform 500ms, opacity 500ms;
	  margin:0 0.5em;
	  opacity:0.7;
	  transform:scale(0.7);

	  &.selected {
		transform: scale(1);
		opacity:1;

        /*
		&::before {
		  content: "";
		  width: 0;
		  height: 0;
		  display: block;
		  border: 1em solid transparent;
		  border-top: 1em solid white;
		  position: absolute;
		  top: -0.5em;
		  left: 3em;
		}
        */
	  }
	}
  }
}
