body {
  background-color: black;
  color: white;

  &, input, button {
	font-family: 'Gloria Hallelujah', cursive;
  }

  input, button {
	background-color: transparent;
	border: transparent;
	color: white;
  }

  button {
	cursor: pointer;
  }

  h1 {
	color: white;
  }
}

main {
  width: 40em;
  margin: 10em auto;
}
